// Colors

$gray: #808080;
$light-gray: #d3d3d3;
$white: #fff;
$violet: #551B54;

// Font 

$font-bold: 600;
$font-size-large: 20px; 
$font-size-medium: 15px;
$font-size-small: 13px;  

//Spacing 
$spacing-ultra-large: 40px;
$spacing-large: 30px;
$spacing-ultra-medium: 25px;
$spacing-medium: 20px;
$spacing-small: 10px;
$spacing-ultra-small:5px;

//Border 

$border-radius-large: 50%;
$border-radius-medium: 10px;
$border-radius-small: 4px;


//Width-Height

$width-max:1200px;
$width-ultra-large:500px; 
$width-large:400px;
$width-medium: 200px; 
$width-small: 50px;
$height-standard: 200px; 
$height-small: 50px;

//Transition 

$transition: .4s;